<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>bundleid</key>
	<string>com.barkingmousestudio.less</string>
	<key>connections</key>
	<dict>
		<key>F6561637-489C-4B01-8DD1-D1CE12D120AC</key>
		<array>
			<dict>
				<key>destinationuid</key>
				<string>8A876C68-2A1C-4457-B5E4-F184990A33BD</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
			<dict>
				<key>destinationuid</key>
				<string>BE241B0E-E5DF-4100-888E-E03EB0C8EECE</string>
				<key>modifiers</key>
				<integer>0</integer>
				<key>modifiersubtext</key>
				<string></string>
			</dict>
		</array>
	</dict>
	<key>createdby</key>
	<string>Jim Fleming</string>
	<key>description</key>
	<string>Evaluate LESS expressions</string>
	<key>disabled</key>
	<false/>
	<key>name</key>
	<string>LESS</string>
	<key>objects</key>
	<array>
		<dict>
			<key>config</key>
			<dict>
				<key>autopaste</key>
				<true/>
				<key>clipboardtext</key>
				<string>{query}</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.clipboard</string>
			<key>uid</key>
			<string>8A876C68-2A1C-4457-B5E4-F184990A33BD</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>argumenttype</key>
				<integer>0</integer>
				<key>escaping</key>
				<integer>0</integer>
				<key>keyword</key>
				<string>less</string>
				<key>runningsubtext</key>
				<string>Evaluating...</string>
				<key>script</key>
				<string>/usr/local/bin/node less.js "{query}" 2&gt; errors.log</string>
				<key>title</key>
				<string>Enter LESS expression</string>
				<key>type</key>
				<integer>0</integer>
				<key>withspace</key>
				<true/>
			</dict>
			<key>type</key>
			<string>alfred.workflow.input.scriptfilter</string>
			<key>uid</key>
			<string>F6561637-489C-4B01-8DD1-D1CE12D120AC</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
		<dict>
			<key>config</key>
			<dict>
				<key>lastpathcomponent</key>
				<false/>
				<key>onlyshowifquerypopulated</key>
				<false/>
				<key>output</key>
				<integer>0</integer>
				<key>removeextension</key>
				<false/>
				<key>sticky</key>
				<false/>
				<key>text</key>
				<string>"{query}" copied to clipboard</string>
				<key>title</key>
				<string>LESS</string>
			</dict>
			<key>type</key>
			<string>alfred.workflow.output.notification</string>
			<key>uid</key>
			<string>BE241B0E-E5DF-4100-888E-E03EB0C8EECE</string>
			<key>version</key>
			<integer>0</integer>
		</dict>
	</array>
	<key>readme</key>
	<string></string>
	<key>uidata</key>
	<dict>
		<key>8A876C68-2A1C-4457-B5E4-F184990A33BD</key>
		<dict>
			<key>ypos</key>
			<real>150</real>
		</dict>
		<key>BE241B0E-E5DF-4100-888E-E03EB0C8EECE</key>
		<dict>
			<key>ypos</key>
			<real>290</real>
		</dict>
		<key>F6561637-489C-4B01-8DD1-D1CE12D120AC</key>
		<dict>
			<key>ypos</key>
			<real>220</real>
		</dict>
	</dict>
	<key>webaddress</key>
	<string>barkingmousestudio.com</string>
</dict>
</plist>
